#components {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.list-component-supplier-data {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-right: 5px;
  height: 100%;
  width: 30%;
}

.list-components {
  background-color: bisque;
  border-radius: 10px 0 0 0;
  padding: 5px;
  margin-bottom: 5px;
  height: 50%;
  overflow-y: auto;
}

.list-suppliers {
  background-color: bisque;
  border-radius: 0 0 0 10px;
  padding: 5px;
  overflow-y: auto;
  height: 50%;
}

.components-data {
  width: 100%;
  background-color: bisque;
  border-radius: 10px;
}
