.laptop-details {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px #007db8 solid;
}

.laptop-image img {
  height: 150px;
  width: 180px;
}

.laptop-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.laptop-details-details {
  padding-left: 50px;
}

.laptop-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
}

.laptop-id {
  font-weight: bold;
  color: #867b7b;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Component List  */

.components-list {
  /* overflow-y: auto; */
  padding: 1rem;
  padding-top: 0;
  width: 80%;
}

.components-list-header {
  display: table-row;
  text-align: center;
}

.components-list-header h3 {
  color: #555656;
  font-weight: 900;
  font-size: 40px;
}

.component-list-content {
  overflow: overlay;
  flex-direction: column;
}

.components-list-card {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid #077db8;
  font-size: 1.3rem;
  font-weight: 900;

  transition: 0.3s ease-in-out;
}

.components-list-card:hover,
.card-active {
  color: #fff;
  background-color: #007db8;
  cursor: pointer;
}

.form-control-plaintext:focus {
  outline: none;
}

#new-table thead.ant-table-thead {
  display: none !important;
  color: red;
}

#new-table .ant-table-thead {
  visibility: hidden !important;
  display: none !important;
  color: #f00;
}

.ant-table-thead > tr > th {
  position: relative;
}
.ant-table-column-sorter {
  position: static;
  .ant-table-column-sorter-up,
  .ant-table-column-sorter-down {
    position: static;
    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    &.on::after {
      pointer-events: none;
    }
  }

  .ant-table-column-sorter-up.off + .ant-table-column-sorter-down.off::after {
    pointer-events: none;
  }
}
