/* Results Page */

.result-container {
  display: flex;
  flex-direction: column;
}

.current-bom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.bom-version-list {
  width: 100%;
}

.components-list {
  width: 50%;
  background: black;
}

.component-details {
  width: 50%;
  background: #4a00e0;
  border-radius: 0 0 1rem 0;
}

/* Laptop Details */

.laptop-details {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.laptop-image img {
  height: 300px;
  width: 500px;
}

.laptop-data {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 0.3rem solid black;
  padding-left: 1rem;
  padding-top: 1rem;
}

.detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.detail-dropdown {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}
