.laptop-details {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px #007db8 solid;
}

.laptop-image img {
  height: 150px;
  width: 180px;
}

.laptop-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.laptop-name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Catamaran", sans-serif;
}

.laptop-id {
  font-weight: bold;
  color: #867b7b;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Component List  */

.components-list {
  /* overflow-y: auto; */
  padding: 1rem;
  padding-top: 0;
}

.components-list-header {
  display: table-row;
  text-align: center;
}

.component-list-content {
  overflow: overlay;
  flex-direction: column;
}

.components-list-card {
  padding: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.components-list-card:hover {
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.components-list-card:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}
